html,
body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 1rem;
  font-size: 21px;
  color: papayawhip;
}
button,
input,
select {
  font-size: 1rem;
}

form {
  display: inline-block;
  border: 2px dotted #444;
  padding: 1rem;
}

ul {
  margin: 0;
  list-style-type: none;
  display: inline-flex;
}

li {
  margin-right: 1rem;
}
